body {
	background-image: url("../img/snowdon.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: -500px;
}

.nav>li>a {
	color: #fff;
	font-weight: bolder;
}

.nav>li>a:focus, .nav>li>a:hover {
	color: #777;
	background-color: none!important;
}

@media print, screen and (min-width: 960px) {
  header h1 {
	  color:#fff;
	  font-weight: bolder;
	  text-shadow: 1px 1px #222222;
  }
  
}

@media print, screen and (max-width: 960px) {
  body {
    background-position: top;
  }
  
  header a {
	  color:#fff;
	  font-size: larger;
	  text-shadow: 1px 1px #222222;
  }
  
  header a:hover {
  	color: #222;
  	text-shadow: 1px 1px #fff;
  }
  
  footer {
	  color:white;
	  text-shadow: 2px 2px #222222;
	  font-size: larger;
  }
}

@media print, screen and (max-width: 480px) {
	#MainContent {
		font-size: larger;
	}
}